@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

html {
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

body {
  background-color: #f2f2f2;
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: -0.06em;
}
